#headTop{ width:auto;max-width:1000px;margin: 0 auto;overflow: hidden}
#headTop ul{ width:auto;overflow: hidden;float: left;margin: 0 auto;}
#headTop li{width:auto;background:none;list-style: none;text-indent: 0;float: left}

.neva{width: 100%;float: left;height: 151px;overflow: hidden;background: url("../../images/center/ditu.jpg")}
.neva img{max-height:92px;}

#serach{width: 50px;height: 20px;float: left;color: #ffffff;line-height: 20px;}
.searchAds,.searchAds ul{width: 240px;float: left;max-height: 34px;overflow: hidden;line-height: 34px;margin-top:0;}
#head-left{width: auto;float: left;margin-left: 70px;margin-top: 40px;text-align: center;}

#naviMenu{
    width: 100%;height: auto;float: left;overflow: hidden;
    padding: 10px 0;
    background-color: #c00000;
    background-image: -moz-linear-gradient(top, #c00000,#ffdddd );
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c00000), color-stop(1, #ffdddd));
    background-image: linear-gradient(top, #c00000, #ffdddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#c00000', EndColorStr = '#ffdddd');
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 0.3em #c00000;
    -webkit-box-shadow: 0 0 0.3em #c00000;
    box-shadow: 0 0 0.3em #c00000;
    color: #ffffff;
}

#naviMenu a{color: #ffffff;}
#naviMenu ul{margin-left: 0.5em}
#naviMenu li {line-height:1em;height:1em;text-indent:0;background: none;float:left;width: 6em;text-align: center;border-left: 2px solid #ffffff;margin: 5px auto}
#cert>a{font-weight: bold;color: #0f0f98}
#head-right{width:auto;max-width:440px;height:56px;margin-right:110px;float:right;margin-top: 50px}
#sousuo{width:auto;max-width: 435px;float:left;height: 22px;margin-top: 12px;background-color:#cfcfcf;}
#sousuo span{float:left;}
#sousuo input{width:auto;height: 22px;line-height: 22px;float: left;vertical-align: middle;border-bottom:1px solid #D2D2D2 }
#sousuo input[name=keyWords]{width:152px;height:22px;float: left;overflow: hidden;background: url("../../images/center/kuan2_09.jpg") no-repeat;line-height: 20px;border: none;}
#site_note{width: 100%;height: 3em;line-height: 3em; overflow: hidden;background-color: #cfa9a9;margin: 0.4em auto;float: left;border-radius: 0.2em}

.gg_title{text-align:center;width: 5em;height: 3em;line-height: 3em;float: left;background-color: #c00000;color: #ffffff;font-family: "微软雅黑", "宋体", SimSun sans-serif, Arial, Verdana, "Trebuchet MS";font-weight: bold}
.gg_content{width: 92%;float: left;overflow: hidden}
.gg_content li{height: 3em;line-height: 3em;background: none;width: auto;float: left;}
.txtScroll-left {
    position: relative;
}
.txtScroll-left .bd {
    width: 100%;
    overflow: hidden;
}

.txtScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}

.txtScroll-left .bd ul li {
    width: auto;
    margin: auto 10px;
    float: left;
    height:3em;
    line-height: 3em;
    /*text-align: left;*/
    _display: inline;
    list-style: none;
    background: none;
}

.txtScroll-left .bd ul li span {
    color: #999;
}