html,body{
    font:1em/16px "微软雅黑", "宋体", SimSun,Arial, Helvetica, sans-serif;

}
*{margin: 0;padding: 0;}
a{text-decoration: none;color: #686868;}
a:hover{text-decoration: underline;}
img{border: none;}
header, section, footer, aside, nav, main, article, figure {display: block;}
li{background: url("../../images/center/heidian.jpg") 0.5em 1em no-repeat;float: left;line-height: 2em;list-style: none;white-space: nowrap;overflow:hidden;text-overflow: ellipsis;text-indent: 1.2em;}
#container {width: 100%;height: auto;overflow: hidden;float: left;}
#mainbody{width:100%;max-width:1000px;height: auto;margin: 0 auto;background-color: #ffffff;overflow: hidden;}
.ads ul{width:100%;float: left;overflow: hidden; }
.ads ul li,.ads ul li img{width:auto; max-width: 100%;float: left;overflow: hidden; }


