{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center/foot.css' %}">
<div class="foot3">
    <div class="foot3_title">
{#        <a><g:message code="default.lsdw"/></a>#}
    </div>

    <div class="foot3_content">
{#        <lzh:contentById aid="520" domain="com.basesys.channel.center.CenterArticle"/>#}
    </div>
</div>

<div class="foot3">
    <div class="foot3_title">
{#        <a><g:message code="default.yqlj"/></a>#}
    </div>

    <div class="foot3_content">
{#        <lzh:contentById aid="2521" domain="com.basesys.channel.center.CenterArticle"/>#}
    </div>
</div>
<footer>
{#    <lzh:contentById aid="171" domain="com.basesys.channel.center.CenterArticle"/>#}
</footer>