{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center/head.css' %}">

<div class="neva">
    <div id="head-left">
{#        <a href="/" title="${message(code: 'global.description.label')}"><img#}
{#                src="${assetPath(src: 'front/logo.png')}"/></a>#}
{#        <a href="/" title="${message(code: 'global.description.label')}"><img style="margin-bottom: 1em;"#}
{#                                                                              src="${assetPath(src: 'front/logo_title.png')}"#}
{#                                                                              alt="${message(code: 'global.description.label')}"/>#}
{#        </a>#}
    </div>

    <div id="head-right">
        <div id="sousuo">
{#            <%#}
{#                ArrayList al = grailsApplication.config.corresClass#}
{#            %>#}
{#            <g:form controller="center" action="searchKey">#}
{#                <select name="articleType">#}
{#                    <g:each in="${al}" var="dc">#}
{#                        <option value="${dc.domainClassName}">${dc.domainName}</option>#}
{#                    </g:each>#}
{#                </select>#}
{#                <g:textField name="keyWords" onblur="setDefault()" onfocus="setNull()"/>#}
{#                <input type="image" id="search" src="${assetPath(src: 'front/searchButton.jpg')}"#}
{#                       onclick="return validateField();"/>#}
{#            </g:form>#}
        </div>
    </div>
</div>

<div id="naviMenu">
{#    <lzh:menu pid="1" domain="com.basesys.channel.center.CenterProgram" controller="center" action="pro"/>#}
</div>

