html,body{font-size: 14px;}
*{margin: 0;padding: 0;}
a{text-decoration: none;color: #636363;}
a:hover{text-decoration: underline;}
img{border: none}
#container {width: 100%;height: auto;overflow: hidden;float: left;margin-top: 38px;}
#mainbody{width:100%;max-width:1000px;min-width:480px;height: auto;margin: 0 auto;overflow: hidden;}
.longLay{width: 100%;float: left;text-align: left;height: auto;}
.navPosition{height: 2em;line-height: 2em;width: 100%;float: left;}
.second_right{width:19%;max-width: 190px;float: left;height: auto;margin-left: 0.6%;}
.modelBox{width: 100%;float: left;height: 22em;overflow: hidden;margin-bottom: 1em;border: 1px solid #c00000}
.modelBox_title{width: 100%;float: left;height: 2em;line-height: 2em;background-color: #c00000;text-indent: 1em}
.modelBox_title a{color: #ffffff}
.modelBox_content{width: 100%;float: left;height: 20em;line-height: 2em;}
.modelBox_content li{width: 100%;float: left;text-indent: 1em;overflow: hidden;text-overflow: ellipsis;}
.second_middle{width:80%;max-width: 800px;height:auto;min-height:45em;float: left;border: 1px solid #c00000}
.second_middle ul{width: 100%;float: left;}
.second_middle ul li{width: 100%;float: left;text-indent: 2em;height: 2em;line-height: 2em;overflow:hidden;text-overflow: ellipsis}

.paginateButtons{width: 100%;float: left;text-align: center;margin-top: 10px;}
.second_middle_title{width: 100%;height: 2em;line-height: 2em;text-indent: 1em;text-align: left;background: url("../../../../images/display/cdl_03.jpg") top left no-repeat}
.paginateButtons a{text-decoration: none}
.currentStep,.step,.prevLink,.nextLink{padding: 1px 4px;border: 1px solid #c00000;margin-left: 5px}
.currentStep{background-color: #c00000}
#search_page h3{width: 100%;float: left;text-align: center;margin-top: 2em;}
.dateAlign{margin-right: 10px;}